{% include "polls/nav.html" %}

<body style="max-width: 60rem; margin-left: auto; margin-right: auto; font-family: Arial,serif; margin-top: 4em">
{% if article %}
    <h1>{{ article.title }}</h1> <br>
    <h3><a href="/users/user_detail/{{ article.author.nickname }}">{{ article.author }}</a></h3> <br>
    {{ article.content }}
    <h3 style="margin-top: 8em; margin-bottom: 0">Comments:</h3>
    <hr>
    {% for comment in comments %}
        <br><br>
        <a href="/users/user_detail/{{ comment.author.nickname }}">{{ comment.author.nickname }}</a>:
        {{ comment.content }}
    {% endfor %}
{% else %}
    <p>No article matches the query</p>
{% endif %}
</body>