{% include "polls/nav.html" %}

<body style="max-width: 60rem; margin-left: auto; margin-right: auto; font-family: Arial,serif; margin-top: 4em">

<h1>Opava News</h1>
<h3>Available articles:</h3>
{% if latest_articles %}
    <ul>
        {% for article in latest_articles %}
            <li><a href="/articles/{{ article.id }}/">{{ article.title }}</a> by <a
                    href="/users/user_detail/{{ article.author.nickname }}">
                {{ article.author.nickname }}
            </a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>