<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.nickname }}</title>
</head>

<nav style="position: fixed;top: 0;width: 100%; border-bottom: 1px solid gainsboro; background: #ffffff">
    <ul>
        <a style="text-decoration: none; margin-right: 3em;" href="/polls">HOME</a>
        <a style="text-decoration: none; margin-right: 3em;" href="/polls/articles">Articles</a>
    </ul>
</nav>
<body style="max-width: 60rem; margin-left: auto; margin-right: auto; font-family: Arial,serif; margin-top: 4em">

<h1>{{ user.nickname }}</h1>
<h3>email: {{ user.email }}</h3>

<div style="display: flex">
    <div style="width: 50%; margin-right: 2em">
        <h2>User publications:</h2>
        {% for article in articles %}
            <a href="/polls/articles/{{ article.id }}/" style="width: 33%; text-decoration: none; color: black">
                <div style="padding: 1em; margin: .5em; border: 1px solid gainsboro; border-radius: 1em">
                    {{ article.title }} <br>
                    {{ article.author }}<br>
                    <hr>
                    {{ article.content }} <br>
                </div>
            </a>
        {% endfor %}
    </div>

    <div style="width: 50%; margin-left: 2em">
        <h2>User comments:</h2>
        {% for comment in comments %}
            <br><br>
            On <a href="/polls/articles/{{ comment.article.id }}">{{ comment.article.title }}:</a><br>
            {{ comment.content }}
            <hr>
        {% endfor %}
    </div>
</div>
</body>
</html>